.border_bottom td{
    border-bottom: 1pt solid #444444;
}

.border_top td{
    border-top: 1pt solid #444444;
}

td {
    padding-right: 5px;
}

.mqtt-big {
    margin-top: 15px;
}


.mqtt-flash {
    animation: flash-animation 1s infinite;
  }
  
  @keyframes flash-animation {
    0% { opacity: 1; }
    50% { opacity: 0.3; }
    100% { opacity: 1; }
  }

  .mqtt-value {
    cursor: pointer;
    transition: opacity 0.3s ease;
  }
  
  .mqtt-value:active {
    opacity: 0.7;
  }